	<link rel="stylesheet" type="text/css" href="/css/comments.css">
</head>
<body>
  <nav>
		<div class="logo">
			<a href="#">Logo</a>
		</div>
		<ul>
      <li><a href="/dashboard/feed">Home</a></li>
			<li><a href="profile.html">Profile</a></li>
			<li><a href="settings.html">Settings</a></li>
			<li><a href="#">Logout</a></li>
		</ul>
	</nav>
  
	<div class="container">
		<div class="comment-section">
            
            <div class="comment">
              <div class="comment-header">  
                <h3>John Doe</h3>
                <span>2 hours ago</span>
              </div>
              <div class="comment-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia metus at nisi blandit faucibus. Nullam ut pulvinar tortor, eget imperdiet neque. Fusce tempor nunc at elit eleifend, sed mollis magna rutrum.</p>
              </div>
              <div class="comment-footer">
                <span>1 like</span>
              </div>
            </div>
        </div>

          
	</div>
</body>
</html>
