<link rel="stylesheet" href="/css/welcome.css">

  </head>
  <body>
<nav>
    <div class="logo">
      <a href="#">SocialScape</a>
    </div>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="/users/register">Register</a></li>
    </ul>
  </nav>

  <div class="welcome">
    <h1>Welcome to SocialScape</h1>
    <p>Connect with friends and family, share your thoughts and ideas, and discover new and interesting things.</p>
    <a href="/users/login">Login</a>
  </div>
</body>
</html>